
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #f9f4ef;
}


.navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#5a2a1b;
  padding: 15px 30px;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
}


.navegacion ul {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex: 1;
}

.navegacion ul li a {
  text-decoration: none;
  color:#f9f4ef;
  font-size: 16px;
  transition: color 0.3s;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.navegacion ul li a:hover {
  color: #fdd9c1;
}


/* HERO / PORTADA */
.hero {
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 100%;
}

.hero img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  filter: brightness(80%);
}

.hero-texto {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.hero-texto h1 {
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 10px;
}

.hero-texto p {
  font-size: 18px;
}

/* DESTACADOS */
.destacados h2 {
  text-align: center;
  color: #5a2a1b;
  font-size: 38px;
  margin-bottom: 30px;
}

.productos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  margin: 20px;
}

.productos-1,
.productos-2,
.productos-3 {
  background-color: #fffdfb;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.productos-1:hover,
.productos-2:hover,
.productos-3:hover {
  transform: translateY(-5px);
}

.productos-1 img,
.productos-2 img,
.productos-3 img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 300px;
  object-fit: cover;
}

.productos-1 h3,
.productos-2 h3,
.productos-3 h3 {
  color: #8b2e1d;
  margin-top: 0;
}

.productos-1 p,
.productos-2 p,
.productos-3 p {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

.ul {
  list-style-type: none;
  padding-left: 0;
  }

.titulomedio{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.productos-container{
  flex-direction: row;
  align-items: center;
  display: flex;
}

/* INFO */
.info {
  background-color: #fffdfb;
  padding: 40px 20px;
  border-bottom: 1px solid #5a2a1b;
  text-align: center;
}

.info ul {
  color: #5a2a1b;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: auto 0;
  gap: 0;
  flex-wrap: wrap;
}

.info li {
  font-size: 20px;
  padding: 15px 30px;
  border-left: 1px solid #5a2a1b;
  text-align: center;
}

.info li:first-child {
  border-left: none;
}

/* FOOTER */
footer {
  background-color:  #5a2a1b;
  color: #f0e8e0;
  padding: 20px 15px;
}


.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}


.footer-section h3 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 12px;           
  font-size: 1.2rem;              
  font-weight: 600;               
  border-bottom: 1px solid #f0e8e0; 
  padding-bottom: 6px;                
}

.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-menu li {
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.footer-menu a {
  color: #f0e8e0;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-menu a:hover {
  color: #ffd8a8;
}

.preguntas {
  list-style: none;
  padding: 0;
  margin: 0;
}

.preguntas li {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #e0e0e0;
  margin-bottom: 8px;
  transition: color 0.3s;
  cursor: pointer;
}

.preguntas li:hover {
  color: #ffd8a8;
  text-decoration: none;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  justify-content: center;
}

.social-icons a {
  color: #f0e8e0;
  font-size: 22px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ffd8a8;
}

/* Mapa */

.footer-section iframe {
  width: 100%;
  max-width: 300px;
  height: 140px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

  .copyright {
  background-color: #5a2a1b;
  color: #f1f1f1;
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
  border-top: 1px solid #fdd9c1;
 }


/* Estilos para celular */
@media (max-width: 768px) {
  .header {
    flex-direction:
    align-items: center;
    padding: 10px;
    gap: 8px;
  }

  .logo .titulo-logo {
    font-size: 1.1rem;
  }

  .navegacion ul {
    align-items: center;
    gap: 10px;
    padding: 10px 0;
  }


  .info ul {
    flex-direction: column;
    align-items: center;
  }

  .info li {
    border-left: none;
    border-top: 1px solid #5a2a1b;
    padding: 12px 0;
    width: 100%;
  }

  .info li:first-child {
    border-top: none;
  }

  .container-padre {
    flex-direction: column;
    align-items: center;
  }

  .hijo-1 img {
    width: 100%;
    max-width: 250px;
    height: auto;
  }

  .productos-1 img,
  .productos-2 img,
  .productos-3 img {
    height: 300px;
    object-fit: cover;
  }

  .productos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .productos-1,
  .productos-2,
  .productos-3 {
    width: 90%;
  }

  .footer-container {
    gap: 10px; 
    padding: 10px 0; 
    flex-direction: column;
  }

  .footer-section {
    margin-bottom: 10px; 
  }

  .footer-section h3 {
    margin-bottom: 6px;
    font-size: 1rem; 
  }

  .footer-menu li,
  .preguntas li {
    font-size: 14px;
  }

  .social-icons {
    margin-top: 5px;
    gap: 10px;
  }

  .footer-section iframe {
    max-width: 100%;
    height: 140px;
  }

  .copyright {
  background-color: #5a2a1b;
  color: #f1f1f1;
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
  border-top: 1px solid #fdd9c1;
 }
}

/* tablet */

@media (min-width: 601px) and (max-width: 991px) {
 

  .footer-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;           
    padding: 15px 20px;   
  }

  .footer-section {
    text-align: column;     
    margin-bottom: 5px; 
  }

  .social-icons {
    gap: 10px;
    margin-top: 5px;
  }
  
.footer-container h3{
  display: inline-block;
}

}
