body{
    margin: 0%;
}
header{
    background-color: rgb(105, 27, 27);
    text-decoration: none;
    padding: 15px;
    color: white;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
.tienda{
    text-align: right;
}
.Mendoza{
    margin: 5px;
    padding: 0px;
    
}
body{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo{
    background-color: rgb(105, 27, 27);
    text-decoration: none;
    padding: 15px;
    color: white;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.caja-logo{
    text-align: center;
}

.logo{
    width: 50%;
}
.suscribite{
    grid-area: suscribite;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
    padding: 1rem;
    background-color: brown;
}

.img-tinto{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.el-vino{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
.historia1{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
.cualidades1{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
.ol1{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

.img.cabernet{
    text-align: right;
}
.cabernet{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.historia2{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.cualidades2{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.ul{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.img-blanco{
    text-align: left;
}
.blanco{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
.historia3{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
.cualidades3{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
.ol2{   
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

.img-rose{
    text-align: right;
}
.rose{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.historia4{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.cualidades4{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.ul{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.inicio{
font-family: Arial, Helvetica, sans-serif;
text-decoration: underline;
text-decoration-color: brown;
}
.Nosotros{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-decoration-color: brown;
}
.Contacto{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-decoration-color: brown;
}
.como-llegar{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.suscribite{
    background-color: blanchedalmond
    text-align: center;

}